// -----------------------------------------------------------------------------
// This file contains NativeScript app styles related to the ActivityIndicator
// component
// @see
// - https://docs.nativescript.org/ui-and-styling.html#activity-indicator
// -----------------------------------------------------------------------------
ActivityIndicator {
  height: 48;
  width: 48;

  &.-large {
    height: 96;
    width: 96;
  }
}
