// -----------------------------------------------------------------------------
// This file contains styles related to the ListView component
// @see https://docs.nativescript.org/angular/ui/ng-components/listview
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Basic ListView style overrides
// -----------------------------------------------------------------------------

.list-view {

  .list-view-item {
    height: 64;

    &.-border-top {
      @include colorize($border-top-color: background-alt-10);

      border-top-width: 1;
    }
  }

  .line {

    &.-group {
      font-size: 14;
      font-weight: bold;
      opacity: 0.8;
    }

    &.-primary {
      font-size: 16;
      padding-bottom: 0;
    }

    &.-secondary {
      font-size: 14;
      opacity: 0.8;
      padding-top: 0;
    }
  }
}

// -----------------------------------------------------------------------------
// RadListView styles
// -----------------------------------------------------------------------------

.name-label {
  font-size: 20;
}

.description-label {
  font-size: 14;
}

.group-label {
  @include colorize($background-color: accent);
  padding: 15;
}

.header {
  @include colorize($background-color: primary, $color: white);
  font-size: 30;
  padding: 15;
}

.footer {
  @include colorize($background-color: primary, $color: white);
  padding: 15;
}
