<app-action-bar [title]="'Tabs'"></app-action-bar>

<MDTabs selectedIndex="0">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <MDTabStrip>
        <MDTabStripItem>
            <Label text="CollectionView"></Label>
            <Image class="m-icon" src="font://&#xf092;"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Tab 2"></Label>
            <Image class="m-icon" src="font://&#xe88e;"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Tab 3"></Label>
            <Image class="m-icon" src="font://&#xe88e;"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Tab 4"></Label>
            <Image class="m-icon" src="font://&#xe88e;"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Tab 5"></Label>
            <Image class="m-icon" src="font://&#xe88e;"></Image>
        </MDTabStripItem>
    </MDTabStrip>

    <!-- The number of TabContentItem components should correspond to the number of TabStripItem components -->
    <MDTabContentItem>
        <GridLayout>
            <app-item-list [itemPrefix]="'TAB 1 - '"></app-item-list>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <app-item-list [itemPrefix]="'TAB 2 - '"></app-item-list>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <app-item-list [itemPrefix]="'TAB 3 - '"></app-item-list>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <app-item-list [itemPrefix]="'TAB 4 - '"></app-item-list>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <app-item-list [itemPrefix]="'TAB 5 - '"></app-item-list>
        </GridLayout>
    </MDTabContentItem>
</MDTabs>
