<app-action-bar [title]="'Tabs'"></app-action-bar>

<MDTabs selectedIndex="0">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <MDTabStrip>
        <MDTabStripItem>
            <Label text="CollectionView"></Label>
            <Image class="m-icon" src="font://&#xf092;"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Tab 2"></Label>
            <Image class="m-icon" src="font://&#xe88e;"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Tab 3"></Label>
            <Image class="m-icon" src="font://&#xe88e;"></Image>
        </MDTabStripItem>
    </MDTabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <MDTabContentItem>
        <GridLayout>
            <CollectionView [items]="dataItems"
                            height="100%"
                            col="0" row="0">
                <ng-template let-item="item">
                    <ContentView>
                        <StackLayout class="list-card">
                            <Label class="name-label" [text]="item ? item.name : '?'"></Label>
                            <Label class="description-label" [text]="item ? item.description : '?'"></Label>
                        </StackLayout>
                    </ContentView>
                </ng-template>

            </CollectionView>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <Label text="2nd tab" class="h2 text-center p-15"></Label>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <Label text="3rd tab" class="h2 text-center p-15"></Label>
        </GridLayout>
    </MDTabContentItem>
</MDTabs>
