<app-action-bar [title]="'Home'"></app-action-bar>
<GridLayout columns="*" rows="*, auto" class="my-grid-layout">

    <!-- theme switcher -->
    <StackLayout col="0" row="0" class="p-20">
        <Label text="Current system appearance:" class="body"></Label>
        <Label [text]="appSystemAppearance" class="body2"></Label>
        <Label text="Current app theme:" class="body"></Label>
        <Label [text]="appTheme" class="body2"></Label>
        <Label text="Theme from ApplicationSettings:" class="body"></Label>
        <Label [text]="appThemeSetting" class="body2"></Label>

        <Button text="Change app theme" (tap)="onThemeTap()" class="-primary m-y-20"></Button>
    </StackLayout>

    <!-- demos -->
    <StackLayout col="0" row="1">
        <Button text="Demo 'Tabs with RadListView'" (tap)="onButtonTap(routes.tabs)" class="-primary m-y-10"></Button>
        <Button text="Demo 'RadListView with Grouping'" (tap)="onButtonTap(routes.search)" class="-primary m-y-10"></Button>
        <Button text="Demo 'Simple ListView'" (tap)="onButtonTap(routes.settings)" class="-primary m-y-10"></Button>
    </StackLayout>
</GridLayout>
